alabaster==0.7.12
allennlp==0.7.0
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
aws-xray-sdk==0.95
awscli==1.16.38
Babel==2.6.0
biscuits==0.1.1
boto==2.49.0
boto3==1.9.28
botocore==1.12.28
certifi==2018.10.15
cffi==1.11.2
chardet==3.0.4
Click==7.0
colorama==0.3.9
conllu==0.11
cookies==2.2.1
cryptography==2.3.1
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
docker==3.5.1
docker-pycreds==0.3.0
docutils==0.14
ecdsa==0.13
editdistance==0.5.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
flaky==3.4.0
Flask==0.12.4
Flask-Cors==3.0.3
ftfy==5.5.0
future==0.16.0
gevent==1.3.6
greenlet==0.4.15
h5py==2.8.0
idna==2.7
imagesize==1.1.0
ItsDangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonnet==0.10.0
jsonpickle==1.0
MarkupSafe==1.0
mock==2.0.0
more-itertools==4.3.0
moto==1.3.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.3
numpy==1.15.2
numpydoc==0.8.0
overrides==1.9
packaging==18.0
parsimonious==0.8.0
pbr==5.0.0
plac==0.9.6
pluggy==0.8.0
preshed==2.0.1
protobuf==3.18.3
py==1.7.0
pyaml==17.12.1
pyasn1==0.4.4
pycparser==2.19
pycryptodome==3.6.6
Pygments==2.7.4
pyparsing==2.2.2
pytest==3.9.1
pytest-pythonpath==0.7.3
python-dateutil==2.7.3
python-jose==2.0.2
pytz==2017.3
PyYAML==3.13
regex==2018.1.10
requests==2.20.0
responses==0.10.1
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
spacy==2.0.16
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
tensorboardX==1.2
thinc==6.12.0
toolz==0.9.0
torch==0.4.1
tqdm==4.28.1
ujson==1.35
Unidecode==1.0.22
urllib3==1.24
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.14.1
wrapt==1.10.11
xmltodict==0.11.0
